services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:


